# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# environment
.env*.local

# TypeScript
*.tsbuildinfo
